body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

img {
  margin: 5px 0;
}



.address-icon { position: absolute;   left: 24px; font-size: 16px; text-align: center;}
.address-text { position: absolute;  left: 60px; font-size: 16px;}

.address-title { position: absolute; top: 20px;  left: 56px; font-size: 16px;}
.address-contact { position: absolute; top: 20px;  left: 200px; font-size: 14px;}
.address-address { position: absolute; top: 20px;  left: 320px; font-size: 14px;}
.address-email { position: absolute; top: 20px;  left: 480px; font-size: 14px;}
.address-description { position: absolute; top: 20px;  left: 650px; font-size: 14px;}